# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Env
.env

# Chroma DB (VERY IMPORTANT)
chroma_db/
chroma_db_docling/

# Egg info
*.egg-info/

# VS Code
.vscode/

#data
data/

*.ipynb

# Virtual environments
venv/
venvdir/
env/
.env/