flask
pymongo
python-dotenv

langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-chroma
langchain-groq

chromadb
sentence-transformers

qdrant-client
langchain-qdrant
docling
flask-cors
langchain-huggingface
pymupdf
pytesseract
pillow